@media screen and (max-width: 850px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .balao{
        margin-left: 18rem;
        margin-top: 6.5rem;
        position: absolute;
    }
    .storage{
        min-height: 130px;
        min-width: 480px;
       
    }
}